<nav>
  <a class="nav-logo" href="/">{{title}}</a>
  <a class="nav-item" href="https://github.com/tristanisham/devpuzzles">Our
    Source Code &star;</a>
  {{!  Spacer  }}
  <div class="spacer" style="flex-grow: 1;"></div>

  <a href="/@{{user.handle}}" class="nav-item">My profile</a>

</nav>