<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="devpuzzles.jpg" type="image/jpg" />
  <script defer data-domain="devpuzzles.com" src="https://plausible.io/js/script.js"></script>
</head>

<body>
  {{#if user}}
    {{> auth-nav}}
  {{else}}
    {{> nav}}
  {{/if}}
  {{{body}}}
</body>

</html>
