{% layout 'layout' %}

<main class="container">
    <p class="kepler">Sup rookie,</p>
    <p class="kepler">
        My boss just sent me this disturbing picture.
    </p>
    <img src="/format_test_1.jpg" alt="you need to download this shit to solve the puzzle. The image doesn't actually matter dummy.">
    <p class="kepler">I have a sneaking suspicion that it contains a secret message. Could you be a doll and figure out what that message is?</p>
    <p class="kepler">Just send it back to me all HTML5 propper-like.</p>
    <form action="" method="post">
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>

    
</main>

{% block 'footer' %}
Copyright 2024, Tristan Isham
{% endblock %}

<style>
        p {
            font-weight: 400;
            font-size: larger;
        }

        form {
            min-width: 100%;
        }
</style>