<main class="mx-auto container">
  <div class="flex flex-col flex-1 justify-center items-center">
 <article class="mx-20 prose lg:prose-xl">
    <h1>Welcome to DevPuzzles</h1>
    <p>
      DevPuzzles focuses on providing fun challenges, games, and puzzles related to computers. Our puzzles are made <a
        href="https://github.com/tristanisham/devpuzzles"> by our community</a>
      and we encourage you to make your own!
    </p>

  </article>
  </div>

</main>
