{% layout 'layout' %}

<main class="container">
  <h1>Welcome to DevPuzzles</h1>
  <p>
    DevPuzzles focuses on providing fun challenges, games, and puzzles related to computers. Our puzzles are made <a
      href="https://github.com/tristanisham/devpuzzles"> by our community</a>
    and we encourage you to make your own!
  </p>

</main>

<style>
  p {
    font-size: larger;
    font-weight: 400;
  }

  #puzzle-mjs-example {
    display: flex;
    flex-direction: row;
  }
</style>

{% block 'footer' %}
Copyright 2024, Tristan Isham
{% endblock %}
