{% layout 'layout' %}

<main>
  <p>Excuse the mess. This site is under construction, so everything looks like dog poo and functions about the same.</p>
  <p>If you'd like to contribute a puzzle, just ask <a href="https://x.com/atalocke">me</a> and I'll invite you
  to the repo. It's not public because, obviously, that'll give away the puzzle answers.</p>
  <h2>Puzzles</h2>
  <ul>
      <li><a href="/format/1">Format Puzzles</a></li>
  </ul>    
</main>

{% block 'footer' %}
  Copyright @ 2022, Tristan Isham
{% endblock %}