<main>
  <div class="mx-auto container">
    {{#if msg}}
      <div class="alert">
        {{msg}}
      </div>
    {{/if}}
    <form
      action="/login"
      method="POST"
      class="max-w-sm mx-auto p-10 bg-primary-content shadow-lg rounded-lg"
    >
      <h2 class="text-3xl text-center text-gray-700 font-bold mb-6">Login</h2>

      <div class="form-control w-full mb-4">
        <label for="email" class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          type="email"
          id="email"
          name="email"
          class="input input-bordered w-full"
          required
          placeholder="Enter your email"
          autofocus
        />
      </div>

      <div class="form-control w-full mb-4">
        <label for="password" class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          id="password"
          name="password"
          class="input input-bordered w-full"
          required
          placeholder="Enter your password"
        />
      </div>

      <button type="submit" class="btn btn-primary w-full">Login</button>
    </form>

  </div>
</main>