:root {
  --text: rgb(229, 243, 239);
  --background: rgb(11, 24, 19);
  --primary: rgb(155, 209, 192);
  --secondary: rgb(52, 100, 113);
  --accent: rgb(114, 158, 190);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  & a {
    color: var(--primary);

    &:visited,
    &:hover {
      color: var(--secondary)
    }
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 1em;
  padding-right: 1em;

  & .nav-logo {
    font-size: xx-large;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
  }


  & .nav-item {
    font-size: large;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;

    & :hover {
      color: var(--secondary);
      text-decoration: underline;
    }

  }
}

img {
  max-width: 100%;
}

footer {
  padding-top: 2em;
  color: var(--text)
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  /* Adjust padding as needed */

  /* Max-width settings similar to Tailwind's default breakpoints */
  max-width: 640px;
  /* Sm breakpoint */

  /* Responsive max-widths */
  @media (min-width: 768px) {
    /* Md breakpoint */
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    /* Lg breakpoint */
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    /* Xl breakpoint */
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    /* 2xl breakpoint */
    max-width: 1536px;
  }
}


form {
  background-color: var(--background);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  background-color: white;
  color: black;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  padding: 8px;
}

button[type="submit"] {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--accent);
}


.alert {
  background-color: var(--primary); /* Light green background */
  color: var(--background); /* Dark text */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}
