<nav>
    <a class="nav-logo" href="/">DevPuzzles</a>
    <a class="nav-item" href="https://github.com/tristanisham/devpuzzles">Our Source Code &star;</a>
    {% comment %} Spacer {% endcomment %}
    <div class="spacer" style="flex-grow: 1;"></div>

    {% if user %}
    <a href="/@{{ user.handle }}" class="nav-item ">My profile</a>
    {% else %}
    <a href="/login" class="nav-item">Login</a>
    <span>/</span>
    <a href="/signup" class="nav-item">Signup</a>
    {% endif %}
</nav>